@model IEnumerable<InstitutoEducativo.Models.MateriaCursada>

@{
    ViewData["Title"] = "ListarMateriasCursadas";
}
<div class="bg-danger"> @ViewData["Message"]</div>

<h1>Mis Materias Activas</h1>

<p>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuatrimestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuatrimestre)
            </td> 
            <td>
                <a class="btn btn-outline-secondary" asp-controller="Profesores" asp-action="MostrarAlumnosPorMateriaCursada" asp-route-id="@item.MateriaCursadaId">Mostrar alumnos</a>
            </td>
        </tr>
}
    </tbody>
</table>
