@model IEnumerable<InstitutoEducativo.Models.AlumnoMateriaCursada>

@{
    ViewData["Title"] = "VerMateriasCursadasAlumno";
}

<h1>VerMateriasCursadasAlumno</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion.Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion.NotaFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alumno.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion.Materia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion.NotaFinal)
            </td>
            
        </tr>
}
    </tbody>
</table>
